# Shell scripts
*.sh

# Environment configs
.env*
.eslintrc
ormconfig.json
src/ormconfig.ts

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env
.env.test
